<script src="https://unpkg.com/@ffmpeg/ffmpeg@0.9.6/dist/ffmpeg.min.js" integrity="sha384-9Oz83FpLkf+FauZzp4jEPRMBTEBtWkLJjuz8vnfqSgvHiQIC26eMwQ/RYSAcuxOG" crossorigin="anonymous" defer></script>
<script src="<mt:Var name="video_uploader_static_path" />/js/main.js" defer></script>
<link rel="stylesheet" href="<mt:Var name="video_uploader_static_path" />/css/main.css" />
